/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
}
#wrapper{
 width: 950px;
 background-color: silver;
 margin: 0px auto;
 padding: 5px;
}
#header{
 height: 150px;
 background-color: green;
 margin: 30px;

}
#navigation{
 height: 275px;
 width: 175px;
 background-color: blue;
 display: inline-block;
 vertical-align: top;
 margin:10px;
 margin-right:5px;
}
#main_content{
 height: 400px;
 width: 700px;
 background-color: red;
 display:inline-block;
 vertical-align: top;
 margin: 10px;
 padding: 10px;
}
.subcontents{
 height: 200px;
 width: 210px;
 background-color: yellow;
 margin: 10px;
 display:inline-block;
 align-items: center;
}
#advertisement{
 height: 120px;
 width: 680px;
 background-color: purple;
 margin: 100px;
 display: block;
transform: translate(-90px,-90px);

}
